* {
  margin: 0;
}
:root {
  --boxShadow-thin: inset 0 0 0 max(1px, 0.0625rem);
  --boxShadow-thick: inset 0 0 0 max(2px, 0.125rem);
  --borderColor-default: #d0d7de;
  --borderRadius-small: 0.1875rem;
  --borderRadius-medium: 0.375rem;
  --borderRadius-large: 0.75rem;
  --borderRadius-full: 624.9375rem;
  --background-hover-color: rgb(231, 231, 231);
  --background-color: rgb(239, 239, 239);
  --button-color:rgba( 0, 149, 246);
  --button-hover-color : #0087e1;
  --color: rgb(255, 255, 255);
  font-family: sans-serif;
  --shadow-resting-medium: 0px 3px 6px 0px #424a531f;
  --initial-color: rgb(113, 113, 113);
  --active-color: rgb(71, 71, 71);
  --sub-heading-color: rgb(53, 53, 53);
  --sub-heading-faded-color: rgb(159, 159, 159);
  --glass-background-color : rgba(0, 0, 0, 0.2);
  --error-color : rgb(216, 65, 65);
  --sucess-color :rgb(100, 216, 65);
  --pop-font-weight : 600;
  --cancel-color : rgb(230, 96, 96);
  --cancel-hover-color : rgb(214, 57, 57);
}

.container-background {
  background: var(--light-grad-pink-blue, radial-gradient(ellipse at 40% 0%, #bf398910 0, transparent 75%), radial-gradient(ellipse at 60% 0%, #096bde10 0, transparent 75%));
  box-shadow: var(--shadow-resting-medium, var(--color-shadow-medium));
  border-radius: var(--borderRadius-medium, 6px);
  border: var(--borderWidth-thin, 1px) solid var(--borderColor-default, var(--color-border-default));
}

.container-boxShadow {
  box-shadow: var(--shadow-resting-medium, var(--color-shadow-medium));
  border-radius: var(--borderRadius-medium, 6px);
  border: var(--borderWidth-thin, 1px) solid var(--borderColor-default, var(--color-border-default));
}

.container-border{
  box-shadow: var(--shadow-resting-medium, var(--color-shadow-medium));
  border-radius: var(--borderRadius-medium, 6px);
  border: var(--borderWidth-thin, 1px) solid var(--borderColor-default, var(--color-border-default));
}

.border {
  border-radius: var(--borderRadius-medium, 6px);
  border: var(--borderWidth-thin, 1px) solid var(--borderColor-default, var(--color-border-default));
}

.button {
  background-color: var(--button-color);
  padding: 7px 13px;
  border-radius: 5px;
  border: none;
  color: var(--color);
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  &:hover {
    transition: 0.5s;
    background: var(--button-hover-color);
  }
}

.cancel-button {
  background-color: var(--cancel-color);
  padding: 7px 13px;
  border-radius: 5px;
  border: none;
  color: var(--color);
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  &:hover {
    transition: 0.5s;
    background: var(--cancel-hover-color);
  }
}

.box-shadow {
  box-shadow: var(--shadow-resting-medium, var(--color-shadow-medium));
}

.active-content {
  color: var(--active-color);
  font-weight: bolder;
}

.content-hover:hover {
  background-color: var(--background-hover-color);
  border-radius: 7px;
  &:active {
    color: var(--color);
    background: var(--button-hover-color);
  }
}

.scroll-bar {
  &::-webkit-scrollbar {
    display: none;
}
}
.popupContainer-center {
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
  background: var(--glass-background-color);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popupContainer-center-sub {
  background: white;
  border-radius: 13px;
  padding: 2%;
}

.nothing-button {
  background: unset;
  border: unset;
  width: unset;
  height: unset;
  font: unset;
  color: unset;
}


.bottom-popup-container {
  width: 97%;
  margin: auto 0.7%;
  padding: 5px;
  display: flex;
  overflow: scroll;
  position: fixed;
  bottom: 47.5px;
  left: 0;
  justify-content: space-evenly;
  border-radius: var(--borderRadius-medium, 6px);
  background: var(--color);
}

.side-pop-message {
  max-width: 50%;
  font-size: 75%;
  font-weight: var(--pop-font-weight);
  position: fixed;
  top: 10%;
  right: 0;
  background: var(--glass-background-color);
  padding: 15px 15px 15px 20px;
  border-radius: 25px 0 0 25px;
}

.error-message {
  color: var(--error-color);
}

.sucess-message {
  color: var(--sucess-color);
}


/* -------------------------- 768 popup containers ---------------------------------- */

.popupContainer768 {
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  background: var(--glass-background-color);
  height: 100%;
}

.popupContainer768-
.popupContainer768-sub {
  width: 85%;
  margin: auto;
  max-height: 80%;
  overflow-y: scroll;
}
.popupContainer768-container {
  width: 100%;
  background: white;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 97%;
  overflow: scroll;
}

.bottom-popup {
  display: none;
  width: 100%;
  height: 95%;
  position: absolute;
  top: 0;
}

@media (max-width : 768px) {
  .mainBar-container {
    margin-left: -2px;
  }
  .popupContainer768-container {
      width: 90%;
      padding: 4.5%;
      border-radius: 13px;
      max-height: 100%;
  }
  .popupContainer768,.bottom-popup {
      display: unset;
  }
  .side-pop-message {
    font-size: 75%;
  }
  .popupContainer-center {
    display: none;
  }
}

@media (max-width : 480px) {
  .popupContainer768-container {
      width: 95%;
      padding: 2.5%;
      border-radius: 0 0 13px 13px ;
  }
  .popupContainer768-sub {
      width: 100%;
  }
  .side-pop-message {
    font-size: 65%;
  }
}